extends layout

block content
  .container
    .jumbotron
      .container
        h3= title

    - each user in users
      .panel.panel-default(id='userPanel-#{user._id}')
        .panel-heading
          h3.panel-title
          |     
          .panel-body(id='panel-#{user._id}')
            .row
              .col-sm-2.text-left-xs.text-right-md
                strong User Id
              |             
              .col-sm-10 #{user._id}
            |         
            .row
              .col-sm-2.text-left-xs.text-right-md
                strong Name
              |             
              .col-sm-10 #{user.name}
            |         
            .row
              .col-sm-2.text-left-xs.text-right-md
                strong Email
              |             
              .col-sm-10 #{user.email}
            |         
            .row
              .col-sm-2.text-left-xs.text-right-md
                strong Gender
              |             
              .col-sm-10 #{user.gender}
            |         
            .row
              .col-sm-2.text-left-xs.text-right-md
                strong Permission
              |             
              .col-sm-10(id='#{user._id}-permission') #{user.permission}
            |         
            .row
              .col-sm-2.text-left-xs.text-right-md
                strong Password
              |             
              .col-sm-10 #{user.password}
            .row
              .col-sm-3.pull-right
                button.btn.btn-danger(id='#{user._id}') Delete
                script
                  |$('##{user._id}').on('click', function () {
                  |  $.post('/users/delete/#{user._id}', function (d) {
                  |    if(d.message == 'success') {
                  |      $('#userPanel-#{user._id}').fadeOut('slow');
                  |    }
                  |  });
                  |});
                |             
                - if (user.permission !== 'admin')
                  button.btn.btn-success(id='#{user._id}' + '-admin') Make Admin
                  script
                    |$('##{user._id}' + '-admin').on('click', function () {
                    |  $.post('/users/updateUser/#{user._id}/admin', function (d) {
                    |    if(d.message == 'admin') {
                    |      console.log('Done!');
                    |      $('##{user._id}-permission').fadeOut('slow', function () {
                    |        $('##{user._id}-permission').replaceWith("<div id=#{user._id}-permission class='col-sm-10'>admin</div>")
                    |      });
                    |      $('##{user._id}-permission').fadeIn('slow');
                    |      $('##{user._id}-admin').fadeOut('slow');
                    |    }
                    |    if(d.message == 'fail') {
                    |      console.log('OMG!');
                    |    }
                    |  });
                    |});
  include footer
